<article class="post-card author-card">

    <div class="post-card-content">

        <a class="post-card-content-link" href="{{url}}">

            <div class="author-header">
                {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                {{/if}}
                <div class="author-header-content">
                    <h2 class="post-card-title">{{name}}</h2>
                    <div class="post-card-byline-content">
                        <span>{{plural count.posts empty="No posts" singular="% post" plural="% posts"}}</span>
                    </div>
                </div>
            </div>

        </a>

    </div>

</article>
